/* IMAGE-BLOCK */

.image-block {
  &__content {
    position: relative;
    min-height: 495px;
    background-color: $white-three;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 150px;
      margin: auto;
    }
  }
}

/* IMAGE-BLOCK end */
