/* GRID */

.grid {
  min-height: 1374px;
  overflow: hidden;
  &--main {
    margin: 32px 0 60px;
  }
  &--inner {
    margin-top: 10px;
  }
  &-content {
    &__filters {
      margin-top: 5px;
      &::after,
      &::before {
        content: '';
        display: table;
        clear: both;
      }
      .dropdown-menu {
        float: right;
      }
    }
    &__item {
      margin: 15px 0 30px;
    }
  }
  &-sidebar {
    margin: 15px 0;
    &__item {
      min-height: 900px;
      background-color: $white-three;
    }
  }
}


/* GRID end */