/* HEADER */

.header {
  margin-top: 32px;
  padding: 45px 0 32px;
  &-title {
    margin: 27px 0 0 0;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    color: $white-two;
  }
}



/* HEADER end */