/* SIDEBAR PERSON */

.person {
  position: relative;
  &.online {
    &::after {
      content: '';
      position: absolute;
      top: -15px;
      right: -15px;
      display: block;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background-color: $light-sage;
    }
  }
  &-photo {
    height: 270px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-info {
    padding: 19px 10px 19px 27px;
    background-color: $black;
    color: $white-two;
    &__name {
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
    }
  }
  ul {
    padding: 20px 10px 26px 26px;
    background-color: $warm-grey;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.12);
    li {
      margin-bottom: 24px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        &:first-child {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          margin-right: 22px;
          text-align: center;
        }
        &:last-child {
          font-size: 16px;
        }
      }
      &:hover {
        span:last-child {
          color: $aqua-marine;
          transition: .2s;
        }
      }
    }
  }
  .sidebar-menu {
    margin-top: 5px;
    background-color: transparent;
    box-shadow: none;
  }
}

/* SIDEBAR PERSON end */