
// Fonts settings

$font-base: 'Open Sans', sans-serif;

// Colors
$white: #efefef;
$white-two: #ffffff;
$greyish-brown: #404040;
$greyish-brown-two: #555454;
$black: #323232;
$warm-grey: #767676;
$light-periwinkle: #ccd1ff;
$white-three: #dddddd;
$warm-grey-two: #868686;
$aqua-marine: #50e3c2;
$light-sage: #b8e986;
